

nav.topnav{
		margin-left: 136px;
		width: 1080px;
		background-color:purple;

}

a.navbar-brand{
	margin-bottom: 35px;

}


ul.nav {
	display: flex;
	flex-direction: left;
	margin-top:15px;
	margin-left: 100px;
	padding-left: 15px;

}

div.dropdown{
	margin-left: 25px;
}

ul ul {
		display: none;
		position: absolute; 
		left: 140px; 
		top: 0px; 
		margin: 0px; 
		padding: 0px;
	}


li {list-style-type: none; position: relative; width: 140px; background-color: #E0E0E0}
li:hover ul.niveau2, li li:hover ul.niveau3 {display: block}



div.container{
	display: flex;
	justify-content: center;
	background-color: orange;
	height: 550px;
	width: 1080px;

}

div.well{
		display:flex;
		justify-content: center;
		height:290px;
		width:445px ;
		background-color: whitesmoke;
		margin-top: 150px ;

}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 450px;
  }

section.container {
		display: flex;
		justify-content: center;
		height:750px;
		width:1080px;
		background-image: none;
		background-color: olive;
		margin-top: 15px;


}

	
}

div.col-md-3{
		margin-left: 150px;
		height: 450px;
		width: 650px;

}
div.col-md-3 img{
	height:150px ;
	width:150px ;
	margin-top: 175px;

}


/*@media screen and (max-width: 1280px)*/

}


footer{
	display: flex;
	justify-content: center;	

}

